### Choosing the right estimator for our problem
___

#### 1. Regression problem

In [1]:
# Load the libraries
from sklearn.datasets import load_boston
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.kernel_approximation import RBFSampler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
# Import the data
boston = load_boston()
boston_df = pd.DataFrame(boston['data'], columns=boston['feature_names'])
boston_df['TARGET'] = pd.Series(boston['target'])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARGET
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
# Number of samples
len(boston_df)

506

In [4]:
# Setup seed
np.random.seed(2)

# Create the data
X = boston_df.drop('TARGET', axis=1)
y = boston_df['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.2)

In [5]:
# Try Ridge Regression model
rng = Ridge()
rng.fit(X_train,y_train)
rng.score(X_test, y_test)

0.7734102322760739

In [6]:
# Try Random Forest Regressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9038944829540848

#### 2. Classification problem

In [7]:
# Load the data
heart = pd.read_csv('../Data/heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
# Number of samples
len(heart)

303

In [9]:
# Prepare data
X = heart.drop('target', axis=1)
y = heart['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.2,
                                                   random_state=2)

In [10]:
# Try SGD Classifier
clf = LinearSVC(max_iter=50000, random_state=2)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

C:\Users\olgar\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8688524590163934

The Linear SVC is too slow if maximum iteration is increased.

In [11]:
# Try Random Forest Classifier
rfc = RandomForestClassifier(random_state=2)
rfc.fit(X_train, y_train)
rfc.score(X_test, y_test)

0.9016393442622951